    <p>Hello!</p>
    <p>
      Congrats! <b>You have received a new contact request</b>!

      Contact <%= @contact.name %>, at email: <%=@contact.email %> today to respond to their message: <%=@contact.message%>.
    </p>