<div class="hero">
  <br/>
  <br/>
  <div class="black-box col-md-10 offset-md-1 text-center">
    <div class="headline">
      <h1>Streamline</h1>
      <br/>
      <h4>"to make an organization or system more efficient and effective by employing faster or simpler working methods"</h4>
    </div>
  </div>
</div>
<div class="hero-2">
  <div class="container justify-content">
    <div class="row text-center services">
      <div class="white-box col-md">
        <li>Accounting and bookkeeping in Portland and the surrounding metro area</li>
        <br/>
        <li>Our rates are competitive and easy to understand</li>
        <br/>
      </div>
     
      <div class="white-box col-md">
        <li>We love what we do and it shows!</li>
        <br/>
        <br/>
        <!-- <p>Contact us today<p> -->
        <%= link_to 'Contact us today', new_contact_path, class: "btn btn-success" %>
        <!-- <p>for a free quote</p> -->
        <!-- <button type="button" class="btn btn-success">Success</button> -->
      </div>
      <!-- <div class="clr"> -->
      
      <div class="white-box col-md">
        <li>Get real-time information on company financial data in a format you can use</li>
        <br/>
        <li>Feel secure knowing your accounting is up-to-date and compliant at all times</li>
        <br/>
      </div>
    </div>
  </div>
</div>
  
