<div class="hero">
  <br/>
  <div class="black-box col-10 offset-1 text-center">
    <div class="headline">
      <h1>Streamline</h1>
      <br/>
      <h4>"to make an organization or system more efficient and effective by employing faster or simpler working methods"</h4>
    </div>
  </div>
  <br/>
  <div class="row services text-center">
    <div class="white-box col-4 col-sm">
      <p>Accounting and bookkeeping in Portland and the surrounding metro area</p>
      <br/>
      <p>Our rates are competitive and easy to understand</p>
      <br/>
    </div>
    <br/>
    <div class="white-box col-4 col-sm">
      <p>We love what we do and it shows!</p>
      <br/>
      <p>Contact us today<p>
      <%= link_to '', root_path, class: "btn" %>
      <p>for a free quote</p>
      <!-- <button type="button" class="btn btn-success">Success</button> -->
    </div>
    <br/>
    <div class="white-box col-4 col-sm">
      <p>Get real-time information on company financial data in a format you can use</p>
      <br/>
      <p>Feel secure knowing your accounting is up-to-date and compliant at all times</p>
      <br/>
    </div>
    <br/>
  </div>
</div>
  
