body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

.footer {
  padding: 20px 0px;
  position: relative;
  width: 100%;
  max-height: auto;
  background-image: image_url('grey_wash_wall.png');
  color: white;
  font-family: 'Arvo', serif;
  font-size: 20px;
}

.footer li, a, i, a.phone, a.email {
  font-size: 15px;
  list-style: none;
  color: white;
}

.phone:hover, .email:hover {
  text-decoration: none;
  color: rgba(0, 180, 190, 1);
}
