body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

#footer {
  padding: 20px 0px;
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36,32,33,0.9);
  color: white;
  font-family: 'Arvo', serif;
  font-size: 20px;
}

#footer li, a {
  font-size: 15px;
  list-style: none;
}

#flex-content-container {
  flex: 1;
}