@import "bootstrap";

/*.circle{
  background: image_url('logo.jpg');
}*/

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

/*.logo {
  background: image_url('logo.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-style: solid; 
  border-color: white;
  margin-top: 40px;
}*/
.navbar {
  
  background-color: rgba(36,32,33,0.9);
  /*background-image: image_url('');*/
}

.navbar a {
  color: white;
}

/*.navbar-inverse a.navbar-brand {
  font-size: 40px;
  letter-spacing: 2px;
  color: #a3a3c2;
} 

.navbar-toggler-icon {
  padding-top: 60px;
}*/