@import "bootstrap";

.black-box { 
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: 'Oxygen Mono', monospace;
  border-radius: 1%;
}

.black-box h1 {
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
}

.black-box h4,label {
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
}

.btn-special {
  background: image_url('logo1.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 40px;
  width: 40px;
}

/*.green-box { 
  background: rgba(105, 255, 255, 0.4);
  color: black;
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: 'Oxygen Mono', monospace;
  border-radius: 1%;
}*/
.clr {
  clear: both;
}

.hero {
  background: image_url('calculator-2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*height: 800px;*/
}

.logo {
  background: image_url('logo1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.services {
  padding-bottom: 60px;
}

.navbar {
  background-color: rgba(36,32,33,0.9);
  /*background-image: image_url('');*/
}

.navbar a {
  color: white;
  font-family: 'Arvo', serif;
  font-size: 50px;
  /*text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;*/
}
.services {
  padding-left: 10%;
  padding-right: 10%;
  width: auto;
}

.white-box { 
  background: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: 'Oxygen Mono', monospace;
  border-radius: 1%;
  width: auto;
}